.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 10px;
  gap: 70px;
  background-color: var(--color-background);
}

.header {
  padding: 0 10px;
  max-width: 1170px;
  width: 100%;
  display: flex;

  justify-content: space-between;
}

.content {
  max-width: 1170px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 480px) {
  .app {
    padding: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .content {
    gap: 40px 48px;
  }
}

@media screen and (min-width: 1024px) {
  .app {
    padding: 104px 20px;
  }
}
